{
    "extends": [
        "@remix-run/eslint-config",
        "@remix-run/eslint-config/jest",
        "plugin:testing-library/react",
        "plugin:jest-dom/recommended"
    ],
    "plugins": ["testing-library", "jest-dom"],
    "rules": {
        "testing-library/await-async-query": "error",
        "testing-library/no-await-sync-query": "error",
        "testing-library/no-debugging-utils": "warn",
        "testing-library/no-dom-import": "off"
    },
    "overrides": [
        {
            // 3) Now we enable eslint-plugin-testing-library rules or preset only for matching files!
            "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"]
        }
    ]
}
